.c-breadcrumbs {
    margin-left: 10px;
    display: flex;
    color: #DCD6BB;
    &__item {
        &:first-child {
            &::after {
                content: ">";
                margin: 0 5px;
            }
        }
    }
    a {
        cursor: pointer;
    }
}